<%= form_with(model: player, local: true) do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col">
      <%= form.label "Nombre", class: "form-label" %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>
    <div class="col">
      <%= form.label "Apellido", class: "form-label" %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= form.label "Rankeable", class: "form-label" %>
      <%= form.select :rankeable, [["Si", 1], ["No", 0]], {}, class: "form-select" %>
    </div>
    <div class="col">
      <%= form.label "Puntos", class: "form-label" %>
      <%= form.text_field :total_points, class: "form-control" %>
    </div>
  </div>

  <div class="row" align="center">
    <div class="col">
      <%= form.submit "Guardar", class: "btn btn-success" %>&nbsp;
      <%= link_to 'Volver', players_path, class: "btn btn-light" %>
    </div>
  </div>

<% end %>
